/* Global Styles */
:root {
  --global-font-family: Verdana, sans-serif;
  --global-font-size: 14px ;
  --global-text-color: #222;
  --global-primary-title-size: 32px;
  --global-color-primary: #88498f;
  --global-color-secondary: #779fa1;
  --global-color-warning: #e28413;
  --global-color-danger: #ff6542;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .p {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .p {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .p {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .p {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .p {background: pink;}
}

body {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  color: var(--global-text-color);
}

p {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  color: var(--global-text-color);
}

h1 {
  font-size: var(--global-primary-title-size);
}
