/* Global Styles */
:root {
  --global-font-family: Verdana, sans-serif;
  --global-font-size: 14px ;
  --global-text-color: #222;
  --global-primary-title-size: 32px;
  --global-color-primary: #88498f;
  --global-color-secondary: #779fa1;
  --global-color-warning: #e28413;
  --global-color-danger: #ff6542;
}

body {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  color: var(--global-text-color);
}

p {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  color: var(--global-text-color);
}

h1 {
  font-size: var(--global-primary-title-size);
}
