/* Global Styles */
:root {
  --global-font-family: Verdana, sans-serif;
  --global-font-size: 0.8rem;
  --global-text-color: #222;
  --global-primary-title-size: 2rem;
  --global-color-primary: #88498f;
  --global-color-secondary: #779fa1;
  --global-color-warning: #e28413;
  --global-color-danger: #ff6542;
}

body {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  color: var(--global-text-color);
}

h1{
  font-size: 3rem;
}
p{
  font-size: 1em;
}

.container {
  font-size: 2em;
  background-color:orange;
}

.container p {
  padding: 2em;
}

/*h1 {font-size: 48px;}
h2 {font-size: 24px;}
p {font-size: 16px;}
h1 {font-size: 3rem;}
h2 {font-size: 1.5rem;}
p {font-size: 1rem;}*/

